/* Global */

.custom_slide {
    margin: 10px;
}

.card {
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
}

.banner_title_custom {
    padding-top: 5em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mobile_90vh {
        height: 90vh;
    }
    .banner_title_custom {
        padding-top: 0;
    }
}


/* Navbar */

.nav-bar .logo {
    max-height: 80%;
    margin: 0;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav-bar .logo {
        max-height: 60%;
    }
}

/* Banners */
.background-image-holder.background--bottom.custom_banner{    
    filter: blur(1.7px);
    background-position: 50% 50% !important;
}

/*Home*/

.name_on_cover{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name_on_cover div{
    background-color: #00000099;
    position: relative;
    padding: 1em !important;
}
.name_on_cover div img{
    margin: 0;
}
/* .name_on_cover .text{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.name_on_cover .img{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
} */


.lead_custom{
    position: absolute;
    left: 50%;
    top: 50% !important;
    transform: translate(-50%, -50%);
}