/* Global */

.custom_slide {
    margin: 10px;
}

.card {
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.29);
}

.banner_title_custom {
    padding-top: 5em;
}

.only_mobile{
    display: none;
}
.only_desktop{
    display: inherit;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mobile_90vh {
        height: 90vh;
    }
    .banner_title_custom {
        padding-top: 0;
    }

    .only_mobile{
        display: inherit;
    }
    .only_desktop{
        display: none;
    }
}


/* Navbar */

.nav-bar .logo {
    max-height: 80%;
    margin: 0;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav-bar .logo {
        max-height: 60%;
    }
}

/* Banners */
.background-image-holder.background--bottom.custom_banner{    
    filter: blur(1.7px);
    background-position: 50% 50% !important;
}

/*Home*/

.name_on_cover{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name_on_cover div{
    background-color: #00000099;
    position: relative;
    padding: 1em !important;
}
.name_on_cover div img{
    margin: 0;
}

.lead_custom{
    position: absolute;
    left: 50%;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .custom_cover .celulas{
        height: 65vh !important;
        margin: 0;
    }
    .custom_cover .celulas div{
        height: 100vw !important;
    }
    .custom_cover .celulas .background-image-holder{
        transform: rotate(90deg);
    }
    .custom_cover .nombre{
        padding-bottom: 6em;
    }
    .custom_cover .nombre div{
        text-align: center;
        width: 65%;
        background-color: #232323ed;
        color: #f1f0f0;
    }
    .custom_cover .nombre div p{
        font-size: 2em !important;
    }
    
    .foto_guille{
        height: 80vh !important;
    }
}

/* Experimentación */
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .tabs_experimentacion li a div, .tabs_experimentacion li div {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}